@font-face {
    font-family: FragmentMono-Regular;
    src: url(FragmentMono-Regular.ttf);
  }

  @font-face {
    font-family: VCR OSD Mono;
    src: url(VCR_OSD_MONO_1.001.ttf);
  }

body {
    background-color: #000;
    color: #fff;
    font-family: VCR OSD Mono, monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

.container {
    position: absolute;
    top: 1rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left;
}

button {
    font-family: VCR OSD Mono, monospace;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

input {
    font-family: VCR OSD Mono, monospace;
    background-color: #000;
    color: #fff;
    /* border: 1px solid #fff; */
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 20px 30px;
    border: 2px solid white;
    border-radius: 12px;
    font-family: 'VCR OSD Mono', monospace;
    font-size: 18px;
    text-align: center;
    display: none; /* hidden by default */
    z-index: 10000;
  }
  .card button {
    margin-top: 12px;
    background: white;
    color: black;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
  }
  